<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Add Category</title>-->
<!--  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--  <h1 class="mt-5 mb-4">Add New Category</h1>-->
<!--  <form th:action="@{/categories/add}" th:object="${category}" method="post">-->
<!--    <div class="form-group">-->
<!--      <label for="groupName">Group Name</label>-->
<!--      <input type="text" class="form-control" id="groupName" th:field="*{groupName}">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="categoryName">Category Name</label>-->
<!--      <input type="text" class="form-control" id="categoryName" th:field="*{categoryName}">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="describe">Description</label>-->
<!--      <input type="text" class="form-control" id="describe" th:field="*{describe}">-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-primary">Add Category</button>-->
<!--    <a href="/products" class="btn btn-secondary">Cancel</a>-->
<!--  </form>-->
<!--</div>-->
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Category</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <h1 class="mt-5 mb-4">Add Category</h1>
  <form th:action="@{/categories/add}" th:object="${category}" method="post">
    <div class="form-group">
      <label for="groupName">Group Name</label>
      <input type="text" id="groupName" th:field="*{groupName}" class="form-control" />
    </div>
    <div class="form-group">
      <label for="categoryName">Category Name</label>
      <input type="text" id="categoryName" th:field="*{categoryName}" class="form-control" />
    </div>
    <div class="form-group">
      <label for="describe">Description</label>
      <input type="text" id="describe" th:field="*{describe}" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>
</body>
</html>
