<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cashier Feature</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .sidebar {
            height: 100vh;
            position: fixed;
            background-color: rgb(198, 198, 198);
        }

        .nav a {
            margin: 20px 0;
            background-color: gray;
            border-radius: 15px;
            text-align: center;
            color: white;
            padding: 10px 0;
        }

        .nav a:hover {
            color: blue;
        }

        .bill-list {
            background-color: rgb(244, 243, 243);
        }
    </style>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 sidebar">
            <nav class="nav flex-column">
                <a href="/management">Home</a>
                <a href="#">Warehouse</a>
                <a href="#">Table List</a>
                <a href="/management/allbill">All Bill</a>
                <a href="#">Statistic</a>
                <a href="#">Setting</a>
            </nav>
        </div>
        <div class="col-md-12 offset-md-1 bill-list">
            <div class="row">
                <div class="col-2">
                    <h1 class="my-4">Bills</h1>
                </div>
                <div class="col-4 my-4">
                    <form action="/management/allbill" method="get" class="d-flex">
                        <input type="date" name="createdTime" value="${createdTime}" placeholder="Select date" />
                        <input type="submit" value="Search"/>
                    </form>
                </div>

                <div class="col-2 my-4">
                    <h5 style="color: #0e4bf1;text-transform: uppercase" th:text="${user.getUsername()}"></h5>
                </div>
                <div class="col-2 my-4">
                    <a href="/profile">PROFILE</a>
                </div>
                <div class="col-2 my-4">
                    <a href="#">LOGOUT</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Bill ID</th>
                            <th scope="col">Created Time</th>
                            <th scope="col">Number of guest</th>
                            <th scope="col">Table ID</th>
                            <th scope="col">Total Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="bill : ${bills}">
                            <td th:text="${bill.getBillId()}"></td>
                            <td th:text="${#dates.format(bill.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${bill.getNumberOfGuest()}"></td>
                            <td th:text="${bill.getTableId()}"></td>
                            <td th:text="${bill.getTotalCost()}+' VND'"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                                <a class="page-link" th:href="@{/management/allbill(page=${currentPage - 1}, size=${size}, createdTime=${createdTime})}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" th:each="page : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${page == currentPage} ? 'active'">
                                <a class="page-link" th:href="@{/management/allbill(page=${page}, size=${size}, createdTime=${createdTime})}" th:text="${page + 1}"></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                                <a class="page-link" th:href="@{/management/allbill(page=${currentPage + 1}, size=${size}, createdTime=${createdTime})}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
