<!--&lt;!&ndash; src/main/resources/templates/editProfile.html &ndash;&gt;-->
<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Edit Profile</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Edit Profile</h1>-->
<!--<form th:action="@{/profile}" th:object="${user}" method="post" enctype="multipart/form-data">-->
<!--    <p>Full Name: <input type="text" th:field="*{fullname}" /></p>-->
<!--    <p>Date of Birth: <input type="text" th:field="*{dob}" /></p>-->

<!--    <p>Phone: <input type="text" th:field="*{phone}" /></p>-->
<!--    <p>Address: <input type="text" th:field="*{address}" /></p>-->
<!--    <p>Username: <input type="text" th:field="*{username}" /></p>-->
<!--    <p>Avatar: <input type="file" name="avatar" /></p>-->
<!--    &lt;!&ndash; Password fields are typically handled separately for security reasons &ndash;&gt;-->
<!--    <p><button type="submit">Save</button></p>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
