<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Update Category</title>-->
<!--    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <h1 class="mt-5 mb-4">Update Category</h1>-->
<!--    <form th:action="@{/categories/update}" th:object="${category}" method="post">-->
<!--        <input type="hidden" th:field="*{cid}" />-->
<!--        <div class="form-group">-->
<!--            <label for="groupName">Group Name</label>-->
<!--            <input type="text" id="groupName" th:field="*{groupName}" class="form-control" />-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="categoryName">Category Name</label>-->
<!--            <input type="text" id="categoryName" th:field="*{categoryName}" class="form-control" />-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="describe">Description</label>-->
<!--            <input type="text" id="describe" th:field="*{describe}" class="form-control" />-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-success">Save</button>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
