<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Product</title>
    <!-- Thêm liên kết CSS của Bootstrap từ CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="mt-5 mb-4">Update Product</h1>
    <form th:action="@{/products/update}" th:object="${product}" method="post" class="needs-validation" novalidate>
        <input type="hidden" th:field="*{pid}">
        <div class="form-group">
            <label for="pname">Name</label>
            <input type="text" class="form-control" id="pname" th:field="*{pname}" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" th:field="*{description}" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <label for="unit">Unit</label>
            <input type="text" class="form-control" id="unit" th:field="*{unit}" required>
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" class="form-control" id="quantity" th:field="*{quantity}" required>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" th:field="*{price}" required>
        </div>
        <div class="form-group">
            <label for="image">Image URL</label>
            <input type="text" class="form-control" id="image" th:field="*{image}" required>
        </div>
        <div class="form-group">
            <label for="categoryId">Category ID</label>
            <input type="number" class="form-control" id="categoryId" th:field="*{categoryId}" required>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>
